body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.atbd_badge_close,.atbd_badge_open {
    position: absolute;
    left: 15px;
    top: 15px;
}

.atbd_content_active #directorist.atbd_wrapper .atbdp_column {
    width: 25%;
}

.overlay.overlay--dark:before {
    background: rgba(47, 38, 57, 0.8);
    }